@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: visible;
}

.p-18px{
    font-size: 18px;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    overflow: hidden;
    height: 100vh;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-navigation {
    background: linear-gradient(#171717, #1f1f1f);
    width: 200px;
}
    
    .admin-navigation h6 {
        color: #fff;
    }

    .admin-navigation li:hover {
        border: solid 1px #f0f0f0;
    }

    .admin-top-row {
        background: linear-gradient(#1f1f1f, #171717);
    }

    .admin-top-row > p {
        color: #fff;
    }

    .admin-navigation-list > li > a {
        color: #fff !important;
    }

    .admin-navigation-list-preview > li > a {
        text-align: center;
        color: #fff !important;
    }

.navigation {
    background: linear-gradient(#171717, #1f1f1f);
    height: 70px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
}
    .logo-container {
        background-image: url("../images/ML_logo.png");
    }

    .navigation .navigation-home .navigation-name {
        text-decoration: none;
        color: black;
        border-radius: 10px;
    }
    .navigation .navigation-list .navigation-btn {
        text-decoration: none;
        color: #cfcfcf;
        border-radius: 10px;
        min-width: 65px;
    }
    .navigation .navigation-list .navigation-btn:hover {
        background-color: rgba(212, 212, 212, 0.1);
        transition: .5s;
    }

    .navigation-list ul {
        width: 100%;
        text-align: right;
    }

.content {
    padding-top: 1.1rem;
}

.home {
    background: url("../images/welcome-wallpaper.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
}
    .home .home-name {
        color: white;
        /*-webkit-text-stroke: 1px black;*/
        text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 3px;
    }
    .home .home-shortabout {
        color: white;
        font-family: 'Agency FB';
        font-size: 30px;
    }

    .navbar-toggler {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .home-button > button {
        background-color: rgba(31, 31, 31, 0.5);
        opacity: 0.8;
        color: #fff;
        border-radius: 15px;
        font-size: 22px;
        border: solid 1px #e6e6e6;
        font-family: 'Agency FB';
        letter-spacing: 3px;
    }

    .home-button > button:hover {
        background-color: rgba(31, 31, 31, 0.6);
        opacity: 1;
        transition: 1s;
    }


.about {
    background: url("../images/about-wallpaper.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    font-family: 'Agency FB';
    color: #e8e8e8;
}
    .about-container {
        background: rgba(28, 28, 28, .9);
    }

    .about li {
        list-style: none;
    }

    .about-details {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .about-details-info {
        text-align: right;
    }
    .about-body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .about-detail-small {
        color: #ff4747;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        font-style: italic;
    }
    .about-details-small-dark {
        color: #737373;
        font-size: 15px;
        font-style: italic;
    }
    .about-footer-container {
        background: rgba(28, 28, 28, .9);
        height: 120px;
    }

    .about-social img{
        width: 45px;
        margin: 5px;
    }

.projects {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    .projects h3 {
        font-style: italic;
        text-transform: uppercase;
    }    

    .projects-section-dark {
        background: #1c1c1c;
        color: #f5f5f5;
    }

    .projects-section-light {
        background: #f5f5f5;
        color: #1f1f1f;
    }

    .projects-section-list h5 {
        text-transform: uppercase;
        font-style: italic;
    }

    .largest-projects .used-stack li {
        list-style: disc;
    }

    .largest-projects li {
        list-style: none;
    }

    .largest-projects h5 {
        font-style: italic;
    }

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media screen and (max-width: 767px) {
    .about-container {
        margin: 0 !important;
    }
    .about-details-item {
        text-align: center;
        margin: 5px auto;
    }
    .about-details-info {
        text-align: center;
        padding: 0;
    }
    .about-social {
        padding: 0;
    }
}

/*.navbar-toggler-icon {
    display: none;
    font-size: 25px;
}

@media screen and (max-width: 767px) {
    #nav-list {
        display: none;
    }
    #icon {
        display: block;
        float: right;
    }
}

@media screen and (min-width: 767px) {
    
    #nav-list.responsive {
        position: relative;
    }
    #nav-list.responsive li {
        float: none;
        display: block;
        text-align: left;
    }

}*/
