
@using PersonalUI.Data
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="admin-navigation">
    <div class="top-row navbar navbar-dark">
        <div class="navbar-brand">
            <NavLink href="" class="navigation-name">
                <img src="/images/ML_logo.png" alt="logo" width="65" height="45" />
            </NavLink>
        </div>
    </div>
    <div>
        <ul class="nav flex-column mt-3 mb-2 admin-navigation-list border-bottom border-light">
            <li class="nav-item px-2">
                <NavLink class="nav-link p-3" href="/admin/editpages">
                    <span class="oi oi-pencil p-2" aria-hidden="true"></span> Edit pages
                </NavLink>
            </li>
            <li class="nav-item px-2">
                <NavLink class="nav-link p-3" href="/admin/editprojects">
                    <span class="oi oi-pencil p-2" aria-hidden="true"></span> Edit projects
                </NavLink>
            </li>
        </ul>
        <h6 class="p-2 ml-1">Preview website</h6>
        <ul class="nav flex-column mt-3 mb-2 admin-navigation-list-preview border-bottom border-light">
            <li class="nav-item px-2">
                <NavLink class="nav-link p-3" href="/">
                    Home
                </NavLink>
            </li>
            <li class="nav-item px-2">
                <NavLink class="nav-link p-3" href="/projects">
                    My work
                </NavLink>
            </li>
            <li class="nav-item px-2">
                <NavLink class="nav-link p-3" href="/about">
                    About
                </NavLink>
            </li>
        </ul>
        <ul class="nav flex-column mt-3 mb-2 admin-navigation-list">
            <li class="nav-item px-2">
                <a class="nav-link p-3" @onclick="(() => Logout())" href="/">
                    <span class="oi oi-account-logout p-2" aria-hidden="true"></span>Logout
                </a>
            </li>
        </ul>
    </div>
</div>

@code {
    public void Logout() {
        ((AuthenticationProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
    }
}
