<div class="row p-3 navigation">
    <div class="navigation-home col-md-3">
        <NavLink href="" class="navigation-name">
            <img src="/images/ML_logo.png" alt="logo" width="65" height="45" />
        </NavLink>
    </div>
    <div class="col-md-9 navigation-list">
        <div class="d-flex justify-content-end pt-1">
            <ul class="m-0">
                <li class="d-inline m-2">
                    <NavLink class="navigation-btn p-2" href="projects">
                        <span>Mano darbai</span>
                    </NavLink>
                </li>
                <li class="d-inline m-2">
                    <NavLink class="navigation-btn p-2" href="about">
                        <span>Apie</span>
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {

}
