@page "/"

@using PersonalUI.Data
@using PersonalUI.Models
@using PersonalUI.Services
@using Microsoft.Extensions.Configuration

@inject IPagesData _db

<div class="home row">
    <div class="col d-flex justify-content-center">
        <div class="col-md-8 d-flex justify-content-center mt-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md">
                        <h1 class="home-name mt-5">Mantas Lengvinas</h1>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-8">
                        @if (home is null) {
                            <h4 class="home-shortabout">Loading...</h4>
                        }
                        else {
                            <h4 class="home-shortabout">@home.content</h4>
                        }
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md d-flex flex-row">
                        <NavLink class="home-button p-2" href="about">
                            <button class="p-1 pr-2 pl-2">About me</button>
                        </NavLink>

                        <NavLink class="home-button p-2" href="projects">
                            <button class="p-1 pr-2 pl-2">My work</button>
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private PageSectionModel home;

    protected override async Task OnInitializedAsync() {
        List<PageSectionModel> sections = await _db.GetSections();

        home = sections.Find(s => s.section == "home");
    }
}



