@page "/admin/home"

<AuthorizeView>
    <Authorized>
        <h1>Home</h1>
    </Authorized>
    <NotAuthorized>
        <p class="p-3">You do not have permission to open this page</p>
    </NotAuthorized>
</AuthorizeView>

@code {

}
